#  Camera - sets the default device/port - this is useful only
#           for the qm100 utility
Camera      /dev/ttyS0
#
#  Speed  - sets the speed for serial communication.  Higher
#           speeds may cause frequent errors on slower machines.
#           Possible values:
#              9600
#              19200
#              38400  (default)
#              57600
#              115200
#   
Speed       38400
#   
#  Pacing - sets the delay, in milleseconds, between bytes sent
#           to the camera.  The default of 10 should work on
#           most sytems.
Pacing      10
#
#  Trace  - sets the name of the output trace file.  If 'off',
#           then no tracing is performed.
#
Trace       off
#
#  Trace_bytes - if set to any value other than 'off', then 
#           low-level camera I/O events are included in the trace.
#
Trace_bytes Off