[Desktop Entry]
Name=GnoCam
Name[de]=GnoCam
Name[no]=GnoCam
Comment=GNOME front-end to gphoto2
Comment[de]=Graphische Oberfläche zum Programm gphoto2 für GNOME
Comment[no]=GNOME grensesnitt til gphoto2
Exec=gnocam
Icon=gnome-default.png
Terminal=0
Type=Application
