[Desktop Entry]
Name=gPhoto
Name[no]=gPhoto
Name[sv]=gPhoto
Name[uk]=gPhoto
Comment=GNU Digital Still Camera program
Comment[no]=GNU Digitalbilde program
Comment[sv]=Digitalt kameraprogram
Comment[uk]=Програма роботи з цифровою камерою
TryExec=gphoto
Exec=gphoto
Icon=gnome-qeye.png
Terminal=0
Type=Application
