#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

config.status: configure
	dh_testdir
	cat debian/patches/00config.patch | patch -p1
	./configure --prefix=/usr
# Patch the generated libtool to avoid passing -rpath when linking,
# and to explicitly link libraries against the libraries they
# depend on.
	sed < libtool > libtool-2 -e 's/^hardcode_libdir_flag_spec.*$$/hardcode_libdir_flag_spec=" -D__LIBTOOL_IS_A_FOOL__ "/' -e '/^archive_cmds="/s/"$$/ \\$$deplibs"/'
	mv libtool-2 libtool
	chmod 755 libtool

build: build-stamp

build-stamp:  config.status
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	-$(MAKE) distclean
	patch -R -t -p1 --dry-run < debian/patches/00config.patch \
		| grep -c 'Unreversed patch detected' >/dev/null \
		|| patch -R -t -p1 < debian/patches/00config.patch
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install prefix=`pwd`/debian/tmp/usr
	mv `pwd`/debian/tmp/usr/man `pwd`/debian/tmp/usr/share/man
	rm -rf `pwd`/debian/usr/lib/*.{a,la}
	# The information placed here should be in /usr/share/doc/gphoto
	#mv `pwd`/debian/usr/share/gphoto/doc/* `pwd`/debian/usr/share/doc/gphoto
	#But we will install it later with dh_installdocs
	rm -rf `pwd`/debian/usr/share/gphoto/doc

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_undocumented dc21x_cam.1 gphoto_exifdump.1 qmxx.1 rsony.1
	dh_installchangelogs ChangeLog
	dh_installdocs AUTHORS CONTACTS FAQ MANUAL NEWS NEWS_0_4_0 NEWS_0_4_1 NEWS_0_4_2 PROGRAMMERS README THANKS THEMES TODO
	dh_installmenu
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
